<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation view</title>
</head>
<body>
        <div>
          <form method="post">All reservation for conference room: {{room.name}}<br><br>
            {% csrf_token %}
            <label>Comments<br>
                <input type="text" name="comment"><br><br>
            </label>
            <label>Date<br>
                <input type="date" name="date"><br><br>
            </label>
            <input type="submit" value="submit">
        </form>
        </div>
        <div><p>{{result}}</p></div>
</body>
</html>