{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Nazwa sali: {{ room.name }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="reservation-date">Date</label>
                <input type="date" id="reservation-date" name="date" max="3000-12-31" min="1000-01-01" class="form-control">
            </div>
            <div class="form-group">
            <label for="comment">Comment</label>
                <input type="text" name="comment" class="form-control" id="comment">
            </div>

            <input type="submit" class="btn btn-primary" value="Booking">
        </form>
    </div>
</div>

{% if error %}
<!-- Form error -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{result}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<!-- Form error -->

<div class="card">
  <div class="card-body">
<h3>Booking</h3>
    <ul class="list-group">
      {% for reservation in reservations %}
        <li class="list-group-item">
          <h4>{{ reservation.date }}</h4>
          <p>{{ reservation.comment }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}