{% extends "base.html" %}
{% load static %}
  {% block content %}
<table class="table">
  <thead>
    <tr class="d-flex">
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-2">Name</th>
      <th scope="col" class="col-1">Capacity</th>
        <th scope="col" class="col-2">Availability</th>
      <th scope="col" class="col-5" colspan="4">Projector</th>
    </tr>
  </thead>
  <tbody>
          {% for room in rooms %}
          <tr class="d-flex">
      <th scope="row" class="col-1">{{ room.id }}</th>
      <td class="col-2">
        <a href="/room/{{ room.id }}/">{{ room.name }}</a>
      </td>
      <td class="col-1">{{ room.capacity }}</td>
              {% if room.reserved %}
        <td class="col-2" style="color:red;">Already booking</td>
      {% else %}
        <td class="col-2" style="color:green;">Available</td>
      {% endif %}
      {% if room.projector == True %}
        <td class="col-2" style="color:green;">&#9745;</td>
      {% else %}
        <td class="col-2" style="color:red;">&#9746;</td>
      {% endif %}
      <td class="col-1">
        <a href="/room/modify/{{ room.id }}/">Edit</a>
      </td>
      <td class="col-1">
        <a href="/room/delete/{{ room.id }}/">Delete</a>
      </td>
      <td class="col-1">
        <a href="/room/reserve/{{ room.id }}/">Book</a>
      </td>
    </tr>
    {% empty %}
      <tr><td colspan="6">No rooms</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}